/* Variables */
:root {
  /* Color */
  --nav-bcolor: #00a08f;
  --body-color: #ddf0f0;
  /* Tipografía */
  /* Espaciado */
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-family: 'Chau Philomene One', sans-serif;
  background-color: var(--body-color);
}

body {
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
}

/* Navegación */

button {
  margin-right: 10px;
}

.navbar {
  width: 100%;
  background-color: var(--nav-bcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  flex-wrap: wrap;
  height: 65px;
  opacity: 95%;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  background-color: #00a08f;
}

.navbar li {
  padding-right: 20px;
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
}
.navbar li a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 2px #03355a;
  font-size: 30px;
}
.navbar li a:hover {
  color: grey;
}

.brand_image {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5));
}

.nav_logo {
  padding-left: 10px;
  width: 60px;
}

.inicio a {
  padding-left: 10px;
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 2px 2px 2px #03355a;
}

.inicio a:hover {
  color: grey;
}
/* Sección Principal/ Hero */

.main_section {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 5%;
}

.main_section h1 {
  color: white;
  background-color: #f66747;
  margin: 7% auto;
  border-radius: 20px;
  letter-spacing: 1px;
  text-shadow: 8px 8px 8px #ae3217;
  font-size: 70px;
}

@media (max-width: 770px) {
  .main_section h1 {
    margin-top: 10%;
    font-size: 40px;
  }
}

.main_section img {
  margin: auto;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0 0 10px #ffebd4;
  position: relative;
  z-index: 2;
}

/* .main_button {
  height: 60px;
  width: 240px;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background-color: #f66747;
  margin-top: -80px;
  font-size: 45px;
  cursor: pointer;
  text-shadow: 2px 2px 2px #f66747;
  padding-bottom: 5px;
  position: relative;
  z-index: 3;
} */

/* .main_button:hover {
  background-color: #773cf1;
} */

.background_main_section {
  background-image: url('../images/Componente\ 1\ –\ 1.svg');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

/* Products */

@media (max-width: 481px) {
  .products {
    margin-top: 25%;
  }
}

.products {
  display: flex;
  border: 1px solid inherit;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.product {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.name_product {
  display: flex;
  letter-spacing: 2px;
  color: white;
  background-color: #f66747;
  border-radius: 30px;
  height: 100px;
  width: 300px;
  margin: auto auto;
  position: relative;
  text-shadow: 5px 8px 8px #ae5a16;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.name_product h2 {
  font-size: 40px;
  margin: 0px auto;
  padding: 20px 90px;
  color: white;
  background-color: #f66747;
  text-shadow: 5px 8px 8px #af381d;
  width: 300px;
  text-align: center;
  border-radius: 30px;
}

.name_product a {
  color: white;
  text-decoration: none;
}

.name_product:hover {
  background-color: #af381d;
  text-shadow: 5px 8px 8px #af381d;
  cursor: pointer;
}

.name_product h2:hover {
  background-color: #af381d;
  text-shadow: 5px 8px 8px #af381d;
  cursor: pointer;
}

.product img {
  height: 390px;
  width: 390px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -100px;
}

/* .price_product h2 {
  height: 40px;
  width: 160px;
  margin: auto;
  color: white;
  background-color: #885bf3;
  text-shadow: 2px 2px 2px #310d7b;
  letter-spacing: 1px;
  align-items: center;
  margin-top: -50px;
  position: relative;
  letter-spacing: 1px;
} */

/* Products CSS+*/

.message {
  margin: auto;
  margin-top: 80px;
  height: 50px;
  width: 930px;
  text-align: center;
  color: white;
  background-color: #885bf3;
  text-shadow: 2px 2px 2px #310d7b;
}

.main_button_product {
  margin: 0 auto;
  margin-top: 80px;
  height: 70px;
  width: 260px;
}

.main_button_product a {
  padding: 0 10px 0 10px;
}

/* Footer */

.contact {
  padding-top: 10px;
  background-color: #00a08f;
  color: white;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.social {
  align-items: flex-end;
}

.social a {
  background-repeat: no-repeat;
  margin-right: 40px;
  align-items: flex-end;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.social-link.twitter {
  background-image: url('../images/twitter-seeklogo.com.svg');
  background-size: 50px 50px;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.social-link.facebook {
  background-image: url('../images/Facebook_f_logo_\(2019\).svg');
  background-size: 50px 50px;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.social-link.instagram {
  background-image: url('../images/instagram-bosquejado.svg');
  background-size: 50px 50px;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.form-text {
  padding: 8px 20px 8px 30px;
  margin-left: 20px;
  border-style: solid;
  border-color: white;
  background-image: url('../images/Envelope_font_awesome.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email h3 {
  margin-left: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #03355a;
}

.form-email button {
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: white;
  display: block;
  margin-top: 10px;
  background: transparent;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 2px #03355a;
}

.form-email button:hover {
  color: rgb(187, 183, 183);
  cursor: pointer;
}

.footer {
  width: 100%;
  margin: 0px;
  background-color: #03355a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 20px;
  letter-spacing: 1px;
  padding-right: 20px;
  height: 50px;
  margin-bottom: 0px;
  bottom: 0;
}

.footer-design p {
  margin: -10px;
  text-shadow: 3px 3px 3px #012541;
  letter-spacing: 0.5px;
}

.footer-design a {
  color: #20d1d1;
  text-decoration: none;
  text-shadow: none;
}

.footer-design a:hover {
  color: #037fbd;
  height: 80px;
}

.footer img {
  vertical-align: middle;
}

/* FORMA DE PEGAR EL FOOTER ABAJO */
.footernosotros {
  position: relative;
  bottom: 0;
  width: 100%;
}

/* NOSOTROS */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modulo_pago {
  margin: 10px 1px;
  background-color: #ff9f52;
  box-shadow: 2px 2px 2px #03355a;
  padding: 15px;
  padding-left: 22px;
  height: 60%;
  width: 70%;
  color: white;
  text-shadow: 4px 4px 4px #c54022;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.box_modulopago {
  background-color: #f66747;
  padding: 10px;
}

.box_modulopago h2 {
  margin: 0;
  font-size: 30px;
  justify-content: flex-starts;
}

.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  letter-spacing: 1px;
}

.roles {
  display: flex;
}

.number h2 {
  padding-left: 10px;
}

.modulo_pagoImg img {
  width: 60%;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.modulo_pagoText {
  text-align: center;
  color: white;
  background-color: #f66747;
  text-shadow: 4px 4px 4px #d03a18;
  padding: 1px;
}

.modulo_pagoText p {
  letter-spacing: 1px;
  margin: 5px;
  font-size: 25px;
  width: 100%;
}

/* VIDEO*/

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 80vh;
}

.main_section_VID {
  padding: 20px;
  padding-top: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  flex-direction: column;
}

.videopiloto video {
  margin: auto auto;
}
/* VIDEO H1 */
.h1-container-VID h1 {
  color: white;
  background-color: #f66747;
  margin: 0 auto;
  border-radius: 20px;
  letter-spacing: 1px;
  text-shadow: 8px 8px 8px #ae3217;
  position: relative;
  z-index: 3;
  font-size: 43px;
  width: 90%;
  margin-top: 150px;
  margin-bottom: 100px;
}

.contenedorvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  padding-bottom: 56%;
  height: 0;
  margin: auto;
}

.contenedorvideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.enlaceYT {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
  text-decoration: none;
}

.enlaceYT h2 {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 34%;
  margin: auto;
  color: white;
  background-color: #ff9946;
  text-shadow: 6px 6px 6px #e47012;
  letter-spacing: 1px;
  align-items: center;
  position: relative;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 110px;
}

.enlacedeYT {
  text-decoration: none;
  color: white;
}

.enlaceYT h2:hover {
  cursor: pointer;
  background-color: #f66747;
  text-shadow: 6px 6px 6px #d14728;
}

/* DIBUJOS*/

.cards {
  margin-top: 80px;
  margin-bottom: 80px;
}

.card {
  margin: 10px;
  background-color: #ff9f52;
}

.card-body h2 {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 2px #d14728;
}

@media (max-width: 400px) {
  .card {
    width: 15rem !important;
  }
}

.html {
  width: 100%;
}

/* CUENTOS */

.container-video-cuento {
  margin-top: 100px;
}

.player {
  margin-top: 30px;
  position: relative;
  width: 300px;
  height: 150px;
  background: #ff9f52;
  box-shadow: 5px 5px 5px #d5782c;
  border-radius: 10px;
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
}

.imgBx h2 {
  text-shadow: 4px 4px 4px #da7523;
}

.player .imgBx {
  position: relative;
  width: 100%;
  height: 50px;
}

.player .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player audio {
  margin-top: 40px;
  width: 100%;
  outline: none;
}
.cuentotexto {
  width: 1550px;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
}

.cuentotexto2 h3 {
  margin-top: 40px;
  width: 1250px;
  text-align: justify;
  padding: 20px;
  background-color: cornsilk;
  background: #01547c;
  color: white;
  text-shadow: 4px 4px 4px #03355a;
  letter-spacing: 1px;
}

.cuentotexto {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuentotexto2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.cuentotexto iframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 800px;
  height: 700px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.h1-container-VID2 h1 {
  color: white;
  background-color: #f66747;
  margin: 20px auto;
  border-radius: 20px;
  letter-spacing: 1px;
  text-shadow: 8px 8px 8px #ae3217;
  position: relative;
  z-index: 3;
  font-size: 50px;
  width: 90%;
  text-align: center;
}

@media (max-width: 1000px) {
  .h1-container-VID2 h1 {
    font-size: 30px;
    width: 60%;
  }
  .cuentotexto2 iframe {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 400px;
  }
}
